* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.footer {
  display: flex;
  height: 50px;
  background-color: #1F2937;
  justify-content: center;
  align-items: center;
}

.footer p {
  color: #E5E7EB;
  font-size: 12px;
}